<!DOCTYPE HTML>
<html lang="en" class="bg-white">
    <head>
        <title>MAP Testing Solver</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="MAP Testing Solver" />
        <meta property="og:site_name" content="MAP Testing Solver" />
        <meta property="og:title" content="MAP Testing Solver" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="MAP Testing Solver" />
        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body class="min-h-screen">
        <div class="navbar bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/solver">Solve Question</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="https://github.com/HypnoticSiege/map-testing-solver" target="_blank">GitHub</a></li>
                </ul>
                </div>
                <a class="btn btn-ghost normal-case text-xl" href="/">MAP Solver</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="/solver">Solve Question</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="https://github.com/HypnoticSiege/map-testing-solver" target="_blank">GitHub</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <a class="btn" href="/register">Get Started</a>
            </div>
        </div>
    </body>
</html>
