<!DOCTYPE HTML>
<html lang="en" class="bg-white">
    <head>
        <title>MAP Testing Solver</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="MAP Testing Solver" />
        <meta property="og:site_name" content="MAP Testing Solver" />
        <meta property="og:title" content="MAP Testing Solver" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="MAP Testing Solver" />
        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body class="min-h-screen">
        <h1 class="text-5xl font-bold">Hello!</h1>
    </body>
</html>
